n8n-workflow-rendicion-gastos.json
{
  "name": "Rendición de Gastos — Drive + IA + Sheets + Aprobación",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Repo: https://github.com/jugauna/rendicion_de_gastos.git | IF Secret: bypass pruebas (siempre TRUE). Variables — Config: drive_parent_folder_id, google_sheet_id, emails. Sheets/Drive usan $('Variables — Config'). Email gerente: $('Code — Batch email').first().json. Rehabilitá validación X-N8N-SECRET antes de producción.",
    "instanceId": "rendicion-de-gastos-local"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rendicion-de-gastos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-inicial",
      "name": "Webhook Inicial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "rendicion-de-gastos"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nreturn [{\n  json: {\n    ...item.json,\n    drive_parent_folder_id: '1K-PsrXneVL5JE3qeG0CWBwGfaKPzj45a',\n    google_sheet_id: '1u30U7L8RzrAuj2F9Y9NYe3ke75DdFNtKp7N_gy44e2Y',\n    email_from: 'juan.gauna@remasa.com',\n    email_gerente: 'juan.gauna@remasa.com',\n    email_jefe_contable: 'jugauna@gmail.com',\n    wait_webhook_suffix: 'aprobacion-gerente',\n    webhook_secret_provisorio: 'Hs_Inspeccion_2026_Secure_Alpha_99'\n  },\n  binary: item.binary || {}\n}];"
      },
      "id": "variables-config",
      "name": "Variables — Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        130,
        400
      ],
      "notesInFlow": true,
      "notes": "Valores provisorios sin Variables de entorno. webhook_secret_provisorio debe coincidir con proxy-n8n.php ($secret_token) o con el header X-N8N-SECRET del cliente. Si definís N8N_WEBHOOK_SECRET en el host, podés poner webhook_secret_provisorio: '' y el IF usará el env."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bypass-pruebas-directas",
              "leftValue": "={{ 'bypass-webhook-tests' }}",
              "rightValue": "={{ 'bypass-webhook-tests' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-secret-valido",
      "name": "IF Secret Válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        260,
        400
      ],
      "notesInFlow": true,
      "notes": "PRUEBAS: bypass — condición siempre TRUE (sin header X-N8N-SECRET). Antes de producción: restaurá comparación header vs webhook_secret_provisorio / $env.N8N_WEBHOOK_SECRET."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Unauthorized', repo: 'https://github.com/jugauna/rendicion_de_gastos.git' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-401",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        260,
        620
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst b = item.json.body || item.json;\nconst total = parseInt(String(b.total_tickets_enviados ?? '0'), 10) || 0;\nconst batch_id = `RND-${Date.now()}-${String(b.emp_legajo || 'X').replace(/[^a-zA-Z0-9_-]/g, '')}`;\nconst fechaEnvio = b.fecha_envio || new Date().toISOString();\nconst safeLegajo = String(b.emp_legajo || 'LEG').replace(/[^a-zA-Z0-9_-]/g, '_');\nconst safeNombre = String(b.emp_nombre || 'Nombre').replace(/[^a-zA-Z0-9áéíóúÁÉÍÓÚñÑ _-]/g, '').trim().replace(/\\s+/g, '_');\nconst folder_safe_name = `${safeLegajo}_${safeNombre}`;\nconst parentId = item.json.drive_parent_folder_id;\nif (!parentId) throw new Error('Completá drive_parent_folder_id en el nodo Variables — Config (carpeta raíz Rendiciones en Drive).');\nconst out = [];\nfor (let i = 0; i < total; i++) {\n  const key = `ticket_foto_${i}`;\n  const bin = item.binary?.[key];\n  out.push({\n    json: {\n      batch_id,\n      id_rendicion: `${batch_id}-T${i + 1}`,\n      fecha_envio: fechaEnvio,\n      emp_nombre: b.emp_nombre || '',\n      emp_legajo: b.emp_legajo || '',\n      motivo_rendicion: b.rendicion_motivo || '',\n      ticket_indice: i + 1,\n      ticket_categoria: b[`ticket_categoria_${i}`] ?? '',\n      ticket_obs: b[`ticket_obs_${i}`] || '',\n      folder_safe_name,\n      drive_subfolder_name: folder_safe_name,\n      drive_parent_folder_id: parentId\n    },\n    binary: bin ? { ticket_foto: bin } : {}\n  });\n}\nif (!out.length) throw new Error('total_tickets_enviados inválido o 0 tickets.');\nreturn out;"
      },
      "id": "code-expand-tickets",
      "name": "Code — Expandir Tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const first = $input.first();\nif (!first?.json?.batch_id) throw new Error('batch_id faltante');\nreturn [{\n  json: {\n    ok: true,\n    batch_id: first.json.batch_id,\n    mensaje: 'Recibido. Procesando comprobantes (Drive + IA); el gerente recibirá el mail de aprobación al terminar.',\n    repo: 'https://github.com/jugauna/rendicion_de_gastos.git'\n  }\n}];"
      },
      "id": "code-respuesta-http-inmediata",
      "name": "Code — Respuesta HTTP inmediata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        160
      ],
      "notesInFlow": true,
      "notes": "Un solo ítem para Respond 200 OK sin esperar Drive/OCR/Sheets. La rama principal sigue en paralelo hacia Primer ítem (Drive)."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const all = $input.all();\nif (!all.length) return [];\nconst first = all[0];\nreturn [{ json: { ...first.json }, binary: first.binary }];"
      },
      "id": "code-primer-item-drive",
      "name": "Code — Primer ítem (Drive)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "notesInFlow": true,
      "notes": "Un solo ítem (mismo empleado en el batch) para buscar/crear la subcarpeta sin duplicar llamadas."
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "searchMethod": "query",
        "queryString": "={{ 'name = \\'' + String($json.drive_subfolder_name).replace(/'/g, \"\\\\'\") + '\\' and \\'' + $('Variables — Config').first().json.drive_parent_folder_id + '\\' in parents and mimeType = \\'application/vnd.google-apps.folder\\' and trashed = false' }}",
        "returnAll": false,
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "alwaysOutputData": true,
      "id": "drive-buscar-subcarpeta",
      "name": "Drive — Buscar subcarpeta empleado",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        760,
        300
      ],
      "notesInFlow": true,
      "notes": "Busca carpeta con nombre drive_subfolder_name (= legajo_nombre sanitizado) bajo drive_parent_folder_id. alwaysOutputData: permite ramificar si no hay coincidencias. Si el import falla, en UI usá File/Folder > Search con la misma query."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const primer = $('Code — Primer ítem (Drive)').first().json;\nconst rows = $input.all().filter((i) => i.json && i.json.id);\nconst folderRow = rows.find((i) => {\n  const m = i.json.mimeType;\n  return !m || m === 'application/vnd.google-apps.folder';\n}) || rows[0];\nif (folderRow && folderRow.json && folderRow.json.id) {\n  return [{ json: { ...primer, empleado_subfolder_id: folderRow.json.id, _subcarpeta: 'encontrada' } }];\n}\nreturn [{ json: { ...primer, empleado_subfolder_id: null, _subcarpeta: 'crear' } }];"
      },
      "id": "code-resolver-subcarpeta",
      "name": "Code — Resolver subcarpeta (búsqueda)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "notesInFlow": true,
      "notes": "Si la búsqueda devolvió carpeta, guarda su id; si no, marca crear."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "need-create",
              "leftValue": "={{ $json.empleado_subfolder_id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-crear-subcarpeta",
      "name": "IF — ¿Crear subcarpeta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "notesInFlow": true,
      "notes": "TRUE = aún no hay id (hay que crear). FALSE = ya existe; ir directo a aplicar id a todos los tickets."
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "={{ $json.drive_subfolder_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Variables — Config').first().json.drive_parent_folder_id }}"
        },
        "options": {}
      },
      "id": "drive-crear-subcarpeta",
      "name": "Drive — Crear subcarpeta empleado",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        460
      ],
      "notesInFlow": true,
      "notes": "Nombre exacto drive_subfolder_name (mismo criterio que la búsqueda)."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const created = $input.first().json;\nconst base = $('Code — Resolver subcarpeta (búsqueda)').first().json;\nconst id = created.id || created.folderId;\nif (!id) throw new Error('Drive no devolvió id de carpeta creada.');\nreturn [{ json: { ...base, empleado_subfolder_id: id, _subcarpeta: 'creada' } }];"
      },
      "id": "code-pack-tras-crear",
      "name": "Code — Pack ID tras crear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const resolved = $input.first().json;\nconst id = resolved.empleado_subfolder_id;\nif (!id) throw new Error('No se resolvió empleado_subfolder_id en Drive (buscar/crear).');\nconst all = $('Code — Expandir Tickets').all();\nreturn all.map((i) => ({\n  json: { ...i.json, empleado_subfolder_id: id },\n  binary: i.binary\n}));"
      },
      "id": "code-aplicar-subcarpeta-todos",
      "name": "Code — Aplicar subcarpeta a todos los tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        300
      ],
      "notesInFlow": true,
      "notes": "Replica el id de subcarpeta del empleado a cada ticket del batch (con binarios)."
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.folder_safe_name }}_{{ $json.id_rendicion }}.{{ $binary.ticket_foto.fileExtension || 'jpg' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.empleado_subfolder_id }}"
        },
        "inputDataFieldName": "ticket_foto",
        "options": {}
      },
      "id": "drive-upload-foto",
      "name": "Drive — Subir foto",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        200
      ],
      "notesInFlow": true,
      "notes": "Input Data Field Name = ticket_foto (mismo nombre que el binario del Code — Expandir / Aplicar subcarpeta). Drive v3 usa inputDataFieldName; el default data falla si el binario no se llama data."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Extraé datos del comprobante en la imagen JPG adjunta. Respondé SOLO JSON válido (sin markdown) con exactamente las claves: {\"monto_total\":number|null,\"moneda\":string,\"fecha_factura\":\"YYYY-MM-DD\"|null,\"CUIT_proveedor\":string|null}. Usá: monto_total como número con punto decimal (ej: 1234.56) o null; moneda sin símbolo (ej: ARS) o \"\"; fecha_factura en YYYY-MM-DD o null; CUIT_proveedor solo dígitos (sin guiones) o null.",
        "options": {
          "systemMessage": "Sos un asistente contable. Procesá la imagen JPEG del comprobante (binario ticket_foto) y extraé los datos. Respondé SOLO JSON válido. Si no podés leer un campo, devolvé null. Monto: número (usa punto decimal) o null. Moneda: string (sin símbolo) o \"\". Fecha: YYYY-MM-DD o null. CUIT: solo dígitos o null.",
          "passthroughBinaryImages": true
        }
      },
      "id": "ai-agent-ocr",
      "name": "AI Agent — OCR (JPG)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1520,
        440
      ],
      "notesInFlow": true,
      "notes": "Prompt sin '=' inicial (evita evaluar como JS inválido). Binario ticket_foto (JPEG). Sub-nodo OpenAI: credencial válida, modelo gpt-4o recomendado para OCR de imágenes; si falla, revisá cuota y mensaje exacto en el nodo OpenAI."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        640
      ],
      "notesInFlow": true,
      "notes": "n8n ≥2.8: typeVersion 1.2+ exige model como lista (resource locator) con .value, no string suelto; si no, error 'Could not get parameter' al leer model.value."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": false
        }
      },
      "id": "merge-drive-y-ocr",
      "name": "Merge — Drive + OCR",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1760,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const merged = $input.item.json;\nconst idx = $itemIndex;\nconst base = $('Code — Expandir Tickets').all()[idx].json;\n\nconst ocrRaw = merged.output ?? merged.text ?? '';\nlet ocr = { monto_total: null, moneda: '', fecha_factura: null, CUIT_proveedor: null };\ntry {\n  const m = String(ocrRaw).match(/\\{[\\s\\S]*\\}/);\n  if (m) ocr = { ...ocr, ...JSON.parse(m[0]) };\n} catch (e) {}\n\nfunction normalizeAmount(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === 'number') return Number.isFinite(v) ? v : null;\n\n  const s = String(v).trim();\n  if (!s) return null;\n\n  // Keep digits, dot, comma and minus. (Removes currency symbols and spaces.)\n  let cleaned = s.replace(/[^\\d,\\.\\-]/g, '');\n\n  // If both separators exist, assume dot = thousands and comma = decimal.\n  if (cleaned.includes(',') && cleaned.includes('.')) {\n    cleaned = cleaned.replace(/\\./g, '').replace(',', '.');\n  } else if (cleaned.includes(',')) {\n    // If only comma exists, assume it's the decimal separator.\n    cleaned = cleaned.replace(',', '.');\n  }\n\n  const n = parseFloat(cleaned);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction normalizeCuit(v) {\n  if (v === null || v === undefined) return '';\n  const s = String(v).replace(/[^\\d]/g, '');\n  return s || '';\n}\n\nconst link = merged.webViewLink || merged.webContentLink || '';\nconst idFoto = merged.id || merged.fileId || '';\nconst monto = normalizeAmount(ocr.monto_total);\n\nreturn {\n  json: {\n    ...base,\n    id_foto_drive: idFoto,\n    link_foto_drive: link,\n    fecha_ticket_ia: ocr.fecha_factura || '',\n    monto_total_ia: monto === null ? '' : monto,\n    moneda_ia: ocr.moneda || '',\n    cuit_proveedor_ia: normalizeCuit(ocr.CUIT_proveedor)\n  }\n};"
      },
      "id": "code-unir-fila-sheet",
      "name": "Code — Unir fila Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ],
      "notesInFlow": true,
      "notes": "link_foto_drive e id_foto_drive salen del nodo Drive — Subir foto (merge posición 0); OCR solo aporta campos de texto."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Variables — Config').first().json.google_sheet_id }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Rendiciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_rendicion": "={{ $json.id_rendicion }}",
            "Fecha_Envio": "={{ $json.fecha_envio }}",
            "Empleado_Nombre": "={{ $json.emp_nombre }}",
            "Empleado_Legajo": "={{ $json.emp_legajo }}",
            "Motivo_Rendicion": "={{ $json.motivo_rendicion }}",
            "Categoria_Factura": "={{ $json.ticket_categoria }}",
            "Observacion_Factura": "={{ $json.ticket_obs }}",
            "Comprobante_URL": "={{ $json.link_foto_drive }}",
            "Fecha_Factura_IA": "={{ $json.fecha_ticket_ia }}",
            "Monto_Factura_IA": "={{ $json.monto_total_ia }}",
            "Moneda_Factura_IA": "={{ $json.moneda_ia }}",
            "CUIT_Proveedor_IA": "={{ $json.cuit_proveedor_ia }}",
            "Estado": "Pendiente",
            "Fecha_Resolucion": ""
          }
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Sheets — Append Rendiciones",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const all = $input.all();\nconst j0 = all[0].json;\nconst ids = all.map(i => i.json.id_rendicion);\nconst monto_total = all.map(i => {\n  const r = i.json;\n  const parts = [r.monto_total_ia, r.moneda_ia].filter((v) => v !== null && v !== undefined && v !== '');\n  return parts.join(' ').trim();\n}).filter(Boolean).join(' · ') || '';\nconst link_foto_drive = j0.link_foto_drive || (all[0] && all[0].json.link_foto_drive) || '';\nfunction ensureWebhookSuffix(resumeUrl, suffix) {\n  if (!resumeUrl || !suffix) return resumeUrl;\n  const s = String(suffix).replace(/^\\/+|\\/+$/g, '');\n  if (resumeUrl.includes('/' + s + '?') || resumeUrl.includes('/' + s + '&') || resumeUrl.endsWith('/' + s)) return resumeUrl;\n  const q = resumeUrl.indexOf('?');\n  if (q === -1) return resumeUrl + '/' + s;\n  return resumeUrl.slice(0, q) + '/' + s + resumeUrl.slice(q);\n}\nfunction appendDecision(resumeUrl, decision) {\n  if (!resumeUrl) return '';\n  const sep = resumeUrl.includes('?') ? '&' : '?';\n  return resumeUrl + sep + 'decision=' + encodeURIComponent(decision);\n}\nconst cfg = $('Variables — Config').first().json || {};\nconst waitSuffix = cfg.wait_webhook_suffix || 'aprobacion-gerente';\nconst ru = ensureWebhookSuffix($execution.resumeUrl || '', waitSuffix);\nreturn [{\n  json: {\n    batch_id: j0.batch_id,\n    id_rendiciones: ids,\n    emp_nombre: j0.emp_nombre,\n    emp_legajo: j0.emp_legajo,\n    motivo_rendicion: j0.motivo_rendicion,\n    fecha_envio: j0.fecha_envio,\n    resumen_html: all.map(i => {\n      const r = i.json;\n      return `<li><strong>${r.ticket_categoria || ''}</strong> — ${r.monto_total_ia ?? ''} ${r.moneda_ia || ''} — <a href=\"${r.link_foto_drive || ''}\" target=\"_blank\">Foto Drive</a></li>`;\n    }).join(''),\n    link_primera_foto: link_foto_drive,\n    link_foto_drive,\n    monto_total,\n    fecha_ticket_ia: j0.fecha_ticket_ia || '',\n    cuit_proveedor_ia: j0.cuit_proveedor_ia || '',\n    repo: 'https://github.com/jugauna/rendicion_de_gastos.git',\n    resume_url_aprobar: appendDecision(ru, 'aprobar'),\n    resume_url_rechazar: appendDecision(ru, 'rechazar')\n  }\n}];"
      },
      "id": "code-aggregate-batch",
      "name": "Code — Batch email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        300
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "aprobacion-gerente"
        }
      },
      "id": "wait-aprobacion",
      "name": "Wait — Webhook aprobación",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        300
      ],
      "webhookId": "wait-aprobacion-gerente"
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "={{ $('Variables — Config').first().json.email_from }}",
        "toEmail": "={{ $('Variables — Config').first().json.email_gerente }}",
        "subject": "={{ 'Rendición de gastos — Aprobación (' + ($('Code — Batch email').first().json.emp_legajo || '') + ')' }}",
        "emailFormat": "html",
        "html": "={{ (() => {\n  const b = $('Code — Batch email').first().json || {};\n  const e = (v) => String(v == null ? '' : v).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/\"/g,'&quot;');\n  return '<!DOCTYPE html>\\n' +\n'<html lang=\"es\">\\n' +\n'<head>\\n<meta charset=\"UTF-8\" />\\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\\n<title>Aprobación de gasto</title>\\n</head>\\n' +\n'<body style=\"margin:0;padding:0;background-color:#ffffff;-webkit-font-smoothing:antialiased;\">\\n' +\n'<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#ffffff;\">\\n  <tr>\\n    <td align=\"center\" style=\"padding:24px 16px 32px 16px;\">\\n      <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:600px;width:100%;\">\\n\\n\\n          <tr>\\n            <td align=\"center\" style=\"background-color:#009CDE;border-radius:12px 12px 0 0;padding:28px 24px;\">\\n              <img src=\"https://TU-DOMINIO-PUBLICO/image_5.png\" width=\"180\" height=\"auto\" alt=\"Logo\" style=\"display:block;margin:0 auto;max-width:220px;height:auto;border:0;outline:none;text-decoration:none;\" />\\n            </td>\\n          </tr>\\n          <tr>\\n            <td style=\"height:4px;background-color:#009CDE;line-height:4px;font-size:0;\">&nbsp;</td>\\n          </tr>\\n\\n          <tr>\\n            <td style=\"background-color:#ffffff;border:1px solid #e2e8f0;border-top:none;border-radius:0 0 12px 12px;padding:28px 24px 8px 24px;\">\\n              <h1 style=\"margin:0 0 8px 0;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:20px;line-height:1.35;font-weight:700;color:#1A202C;\">\\n                Aprobación de Gasto: ' + e(b.emp_nombre) + ' (' + e(b.emp_legajo) + ')\\n              </h1>\\n              <p style=\"margin:0 0 24px 0;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.5;color:#4a5568;\">\\n                Revisá el detalle y decidí la rendición desde los botones al final del mensaje.\\n              </p>\\n\\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"border-collapse:separate;border-spacing:0;border:1px solid #e2e8f0;border-radius:12px;overflow:hidden;\">\\n                <tr>\\n                  <td colspan=\"2\" style=\"background-color:#f8fafc;padding:12px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;letter-spacing:0.06em;text-transform:uppercase;color:#009CDE;border-bottom:1px solid #e2e8f0;\">\\n                    Resumen\\n                  </td>\\n                </tr>\\n                <tr>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:#64748b;width:42%;border-bottom:1px solid #e2e8f0;vertical-align:top;\">Gasto</td>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:500;color:#1A202C;border-bottom:1px solid #e2e8f0;vertical-align:top;\">' + e(b.motivo_rendicion) + '</td>\\n                </tr>\\n                <tr>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:#64748b;border-bottom:1px solid #e2e8f0;vertical-align:top;\">Monto Sugerido (IA)</td>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;color:#1A202C;border-bottom:1px solid #e2e8f0;vertical-align:top;\">' + e(b.monto_total) + '</td>\\n                </tr>\\n                <tr>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:#64748b;border-bottom:1px solid #e2e8f0;vertical-align:top;\">Fecha Ticket (IA)</td>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:500;color:#1A202C;border-bottom:1px solid #e2e8f0;vertical-align:top;\">' + e(b.fecha_ticket_ia) + '</td>\\n                </tr>\\n                <tr>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:#64748b;vertical-align:top;\">CUIT Proveedor (IA)</td>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:500;color:#1A202C;vertical-align:top;\">' + e(b.cuit_proveedor_ia) + '</td>\\n                </tr>\\n              </table>\\n\\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"margin-top:28px;\">\\n                <tr>\\n                  <td align=\"center\">\\n                    <a href=\"' + encodeURI(String(b.link_foto_drive || '')) + '\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"display:inline-block;padding:14px 28px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:700;line-height:1.25;color:#ffffff;text-decoration:none;background-color:#009CDE;border-radius:10px;min-width:200px;text-align:center;\">\\n                      Ver Comprobante Original\\n                    </a>\\n                  </td>\\n                </tr>\\n              </table>\\n\\n              <p style=\"margin:28px 0 8px 0;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;color:#64748b;text-align:center;\">\\n                Resolución de la solicitud\\n              </p>\\n\\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"margin-top:8px;\">\\n                <tr>\\n                  <td align=\"center\" style=\"padding:8px 0;\">\\n                    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:520px;\">\\n                      <tr>\\n                        <td align=\"center\" style=\"padding:8px 6px;\" width=\"50%\">\\n                          <a href=\"' + encodeURI(String(b.resume_url_aprobar || '')) + '\" style=\"display:block;padding:16px 12px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:700;line-height:1.25;color:#ffffff;text-decoration:none;background-color:#16a34a;border-radius:10px;text-align:center;\">\\n                            Aprobar\\n                          </a>\\n                        </td>\\n                        <td align=\"center\" style=\"padding:8px 6px;\" width=\"50%\">\\n                          <a href=\"' + encodeURI(String(b.resume_url_rechazar || '')) + '\" style=\"display:block;padding:16px 12px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:700;line-height:1.25;color:#ffffff;text-decoration:none;background-color:#dc2626;border-radius:10px;text-align:center;\">\\n                            Rechazar\\n                          </a>\\n                        </td>\\n                      </tr>\\n                    </table>\\n                  </td>\\n                </tr>\\n              </table>\\n\\n              <p style=\"margin:24px 0 0 0;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:11px;line-height:1.5;color:#a0aec0;text-align:center;\">\\n                Si el botón no funciona, copiá y pegá el enlace en el navegador. Este mensaje es transaccional; no respondas a este correo si fue enviado desde un buzón no monitoreado.\\n              </p>\\n            </td>\\n          </tr>\\n        </table>\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n</html>\\n';\n})() }}",
        "options": {}
      },
      "id": "email-gerente",
      "name": "Email — Gerente (HTML)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2960,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "dec-aprob",
              "leftValue": "={{ $json.query?.decision || $json.body?.decision || $json.decision || '' }}",
              "rightValue": "aprobar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-decision-aprobada",
      "name": "IF Aprobada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const prev = $('Code — Batch email').first().json;\nconst ids = prev.id_rendiciones || [];\nconst webhook = $input.first().json;\nconst decision = webhook.query?.decision || webhook.body?.decision || webhook.decision || '';\nconst aprobada = decision === 'aprobar';\nconst estado = aprobada ? 'Aprobada' : 'Rechazada';\nconst fecha = new Date().toISOString();\nreturn ids.map((id) => ({ json: { id_rendicion: id, Estado: estado, Fecha_Resolucion: fecha } }));"
      },
      "id": "code-split-updates",
      "name": "Code — Filas a actualizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Variables — Config').first().json.google_sheet_id }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Rendiciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id_rendicion"
          ],
          "value": {
            "id_rendicion": "={{ $json.id_rendicion }}",
            "Estado": "={{ $json.Estado }}",
            "Fecha_Resolucion": "={{ $json.Fecha_Resolucion }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "sheets-update-estado",
      "name": "Sheets — Update por id_rendicion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3680,
        300
      ],
      "notesInFlow": true,
      "notes": "Update por fila: columna de coincidencia = id_rendicion (mismo encabezado que en la hoja). Valor = $json.id_rendicion."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all();\nif (!rows.length) return [];\nconst estado = rows[0].json.Estado;\nif (estado === 'Aprobada') {\n  return [{ json: { _notificar_contable: true } }];\n}\nreturn [];"
      },
      "id": "code-solo-si-aprobada",
      "name": "Code — Notificar contable (solo aprobada)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "notif",
              "leftValue": "={{ $json._notificar_contable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-notificar-contable",
      "name": "IF — Notificar contable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4160,
        300
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "={{ $('Variables — Config').first().json.email_from }}",
        "toEmail": "={{ $('Variables — Config').first().json.email_jefe_contable }}",
        "subject": "={{ 'Rendición APROBADA — ' + ($('Code — Batch email').first().json.emp_legajo || '') }}",
        "emailFormat": "html",
        "html": "={{ '<p>La rendición fue <strong>aprobada</strong> por el gerente.</p><p>Batch: ' + ($('Code — Batch email').first().json.batch_id || '') + '</p><p>IDs: ' + ($('Code — Batch email').first().json.id_rendiciones || []).join(', ') + '</p><p>Repo: https://github.com/jugauna/rendicion_de_gastos.git</p>' }}",
        "options": {}
      },
      "id": "email-contable",
      "name": "Email — Jefe Contable",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3900,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: $json.ok, batch_id: $json.batch_id, repo: $json.repo, mensaje: $json.mensaje }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-200-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2240,
        80
      ]
    }
  ],
  "connections": {
    "Webhook Inicial": {
      "main": [
        [
          {
            "node": "Variables — Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables — Config": {
      "main": [
        [
          {
            "node": "IF Secret Válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Secret Válido": {
      "main": [
        [
          {
            "node": "Code — Expandir Tickets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Expandir Tickets": {
      "main": [
        [
          {
            "node": "Code — Primer ítem (Drive)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code — Respuesta HTTP inmediata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Respuesta HTTP inmediata": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Primer ítem (Drive)": {
      "main": [
        [
          {
            "node": "Drive — Buscar subcarpeta empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — Buscar subcarpeta empleado": {
      "main": [
        [
          {
            "node": "Code — Resolver subcarpeta (búsqueda)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Resolver subcarpeta (búsqueda)": {
      "main": [
        [
          {
            "node": "IF — ¿Crear subcarpeta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — ¿Crear subcarpeta?": {
      "main": [
        [
          {
            "node": "Drive — Crear subcarpeta empleado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Aplicar subcarpeta a todos los tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — Crear subcarpeta empleado": {
      "main": [
        [
          {
            "node": "Code — Pack ID tras crear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Pack ID tras crear": {
      "main": [
        [
          {
            "node": "Code — Aplicar subcarpeta a todos los tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Aplicar subcarpeta a todos los tickets": {
      "main": [
        [
          {
            "node": "Drive — Subir foto",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent — OCR (JPG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — Subir foto": {
      "main": [
        [
          {
            "node": "Merge — Drive + OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent — OCR (JPG)": {
      "main": [
        [
          {
            "node": "Merge — Drive + OCR",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent — OCR (JPG)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Drive + OCR": {
      "main": [
        [
          {
            "node": "Code — Unir fila Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Unir fila Sheet": {
      "main": [
        [
          {
            "node": "Sheets — Append Rendiciones",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code — Batch email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Append Rendiciones": {
      "main": [
        []
      ]
    },
    "Code — Batch email": {
      "main": [
        [
          {
            "node": "Email — Gerente (HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Webhook aprobación": {
      "main": [
        [
          {
            "node": "IF Aprobada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email — Gerente (HTML)": {
      "main": [
        [
          {
            "node": "Wait — Webhook aprobación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Aprobada": {
      "main": [
        [
          {
            "node": "Code — Filas a actualizar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Filas a actualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Filas a actualizar": {
      "main": [
        [
          {
            "node": "Sheets — Update por id_rendicion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Update por id_rendicion": {
      "main": [
        [
          {
            "node": "Code — Notificar contable (solo aprobada)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Notificar contable (solo aprobada)": {
      "main": [
        [
          {
            "node": "IF — Notificar contable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Notificar contable": {
      "main": [
        [
          {
            "node": "Email — Jefe Contable",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  }
}