n8n-workflow-rendicion-gastos.json
{
  "name": "Rendición de Gastos — Drive + IA + Sheets + Aprobación",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "App v1.0 | Repo: https://github.com/jugauna/rendicion_de_gastos.git | IA: OpenAI Whisper (audio opcional) + OpenAI visión (gpt-4o) sobre la imagen del comprobante: OCR y compliance en un solo paso. Google Drive + Sheets + mail gerente/contable + Wait webhook + Audit_Logs. X-N8N-SECRET / IF Secret; credenciales OpenAI y Google en n8n.",
    "instanceId": "rendicion-de-gastos-local"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rendicion-de-gastos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-inicial",
      "name": "Webhook Inicial",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "webhookId": "rendicion-de-gastos"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nreturn [{\n  json: {\n    ...item.json,\n    drive_parent_folder_id: '1K-PsrXneVL5JE3qeG0CWBwGfaKPzj45a',\n    google_sheet_id: '1u30U7L8RzrAuj2F9Y9NYe3ke75DdFNtKp7N_gy44e2Y',\n    email_from: 'juan.gauna@remasa.com',\n    email_gerente: 'juan.gauna@remasa.com',\n    email_jefe_contable: 'jugauna@gmail.com',\n    wait_webhook_suffix: 'aprobacion-gerente',\n    webhook_secret_provisorio: 'Hs_Inspeccion_2026_Secure_Alpha_99'\n  },\n  binary: item.binary || {}\n}];"
      },
      "id": "variables-config",
      "name": "Variables — Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        130,
        400
      ],
      "notesInFlow": true,
      "notes": "Valores provisorios sin Variables de entorno. webhook_secret_provisorio debe coincidir con proxy-n8n.php ($secret_token) o con el header X-N8N-SECRET del cliente. Si definís N8N_WEBHOOK_SECRET en el host, podés poner webhook_secret_provisorio: '' y el IF usará el env."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-audio",
              "leftValue": "={{ Object.keys($binary || {}).includes('explicacion_audio') ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-audio-adjunto",
      "name": "IF — ¿Audio explicación?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        260,
        400
      ],
      "notesInFlow": true,
      "notes": "Multipart: campo explicacion_audio (webm/ogg/mp3). Si TRUE → Whisper; si FALSE → pasa directo a IF Secret."
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "explicacion_audio",
        "options": {}
      },
      "id": "openai-whisper-transcribe",
      "name": "OpenAI — Whisper (transcribe)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        400,
        260
      ],
      "notesInFlow": true,
      "notes": "Credencial OpenAI API. Acepta audio y video con pista de sonido (webm/mp4 desde móvil). Idioma en Options → language es (opcional). Si 400 Bad request: revisá MIME en proxy y nombre con extensión. Máx. 25 MB."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const v = $('Variables — Config').first();\nconst t = String($input.first().json.text || '').trim();\nconst b = v.json.body || v.json;\nconst baseBody = typeof b === 'object' && b !== null && !Array.isArray(b) ? { ...b } : {};\nif (t) {\n  const prev = String(baseBody.rendicion_motivo || '').trim();\n  baseBody.rendicion_motivo = prev ? `${prev} — [Voz] ${t}` : `[Voz] ${t}`;\n  baseBody.explicacion_audio_transcrita = t;\n}\nconst nb = { ...v.binary };\ndelete nb.explicacion_audio;\nreturn [{\n  json: { ...v.json, body: baseBody },\n  binary: nb\n}];"
      },
      "id": "code-merge-audio-transcripcion",
      "name": "Code — Merge transcripción en body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all();"
      },
      "id": "code-passthrough-sin-audio",
      "name": "Code — Sin audio (passthrough)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bypass-pruebas-directas",
              "leftValue": "={{ 'bypass-webhook-tests' }}",
              "rightValue": "={{ 'bypass-webhook-tests' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-secret-valido",
      "name": "IF Secret Válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        400
      ],
      "notesInFlow": true,
      "notes": "PRUEBAS: bypass — condición siempre TRUE (sin header X-N8N-SECRET). Antes de producción: restaurá comparación header vs webhook_secret_provisorio / $env.N8N_WEBHOOK_SECRET."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: 'Unauthorized', repo: 'https://github.com/jugauna/rendicion_de_gastos.git' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "respond-401",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        720,
        620
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst b = item.json.body || item.json;\nconst total = parseInt(String(b.total_tickets_enviados ?? '0'), 10) || 0;\nconst batch_id = `RND-${Date.now()}-${String(b.emp_legajo || 'X').replace(/[^a-zA-Z0-9_-]/g, '')}`;\nconst fechaEnvio = b.fecha_envio || new Date().toISOString();\nconst safeLegajo = String(b.emp_legajo || 'LEG').replace(/[^a-zA-Z0-9_-]/g, '_');\nconst safeNombre = String(b.emp_nombre || 'Nombre').replace(/[^a-zA-Z0-9áéíóúÁÉÍÓÚñÑ _-]/g, '').trim().replace(/\\s+/g, '_');\nconst folder_safe_name = `${safeLegajo}_${safeNombre}`;\nconst parentId = item.json.drive_parent_folder_id;\nif (!parentId) throw new Error('Completá drive_parent_folder_id en el nodo Variables — Config (carpeta raíz Rendiciones en Drive).');\nconst out = [];\nfor (let i = 0; i < total; i++) {\n  const key = `ticket_foto_${i}`;\n  const bin = item.binary?.[key];\n  out.push({\n    json: {\n      batch_id,\n      id_rendicion: `${batch_id}-T${i + 1}`,\n      fecha_envio: fechaEnvio,\n      emp_nombre: b.emp_nombre || '',\n      emp_legajo: b.emp_legajo || '',\n      motivo_rendicion: b.rendicion_motivo || '',\n      explicacion_audio_transcrita: b.explicacion_audio_transcrita || '',\n      ticket_indice: i + 1,\n      ticket_categoria: b[`ticket_categoria_${i}`] ?? '',\n      ticket_obs: b[`ticket_obs_${i}`] || '',\n      folder_safe_name,\n      drive_subfolder_name: folder_safe_name,\n      drive_parent_folder_id: parentId\n    },\n    binary: bin ? { ticket_foto: bin } : {}\n  });\n}\nif (!out.length) throw new Error('total_tickets_enviados inválido o 0 tickets.');\nreturn out;"
      },
      "id": "code-expand-tickets",
      "name": "Code — Expandir Tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const first = $input.first();\nif (!first?.json?.batch_id) throw new Error('batch_id faltante');\nreturn [{\n  json: {\n    ok: true,\n    batch_id: first.json.batch_id,\n    mensaje: 'Recibido. Procesando comprobantes (Drive + IA); el gerente recibirá el mail de aprobación al terminar.',\n    repo: 'https://github.com/jugauna/rendicion_de_gastos.git'\n  }\n}];"
      },
      "id": "code-respuesta-http-inmediata",
      "name": "Code — Respuesta HTTP inmediata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        160
      ],
      "notesInFlow": true,
      "notes": "Un solo ítem para Respond 200 OK sin esperar Drive/OCR/Sheets. La rama principal sigue en paralelo hacia Primer ítem (Drive)."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const all = $input.all();\nif (!all.length) return [];\nconst first = all[0];\nreturn [{ json: { ...first.json }, binary: first.binary }];"
      },
      "id": "code-primer-item-drive",
      "name": "Code — Primer ítem (Drive)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        300
      ],
      "notesInFlow": true,
      "notes": "Un solo ítem (mismo empleado en el batch) para buscar/crear la subcarpeta sin duplicar llamadas."
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "searchMethod": "query",
        "queryString": "={{ 'name = \\'' + String($json.drive_subfolder_name).replace(/'/g, \"\\\\'\") + '\\' and \\'' + $('Variables — Config').first().json.drive_parent_folder_id + '\\' in parents and mimeType = \\'application/vnd.google-apps.folder\\' and trashed = false' }}",
        "returnAll": false,
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "alwaysOutputData": true,
      "id": "drive-buscar-subcarpeta",
      "name": "Drive — Buscar subcarpeta empleado",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        760,
        300
      ],
      "notesInFlow": true,
      "notes": "Busca carpeta con nombre drive_subfolder_name (= legajo_nombre sanitizado) bajo drive_parent_folder_id. alwaysOutputData: permite ramificar si no hay coincidencias. Si el import falla, en UI usá File/Folder > Search con la misma query."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const primer = $('Code — Primer ítem (Drive)').first().json;\nconst rows = $input.all().filter((i) => i.json && i.json.id);\nconst folderRow = rows.find((i) => {\n  const m = i.json.mimeType;\n  return !m || m === 'application/vnd.google-apps.folder';\n}) || rows[0];\nif (folderRow && folderRow.json && folderRow.json.id) {\n  return [{ json: { ...primer, empleado_subfolder_id: folderRow.json.id, _subcarpeta: 'encontrada' } }];\n}\nreturn [{ json: { ...primer, empleado_subfolder_id: null, _subcarpeta: 'crear' } }];"
      },
      "id": "code-resolver-subcarpeta",
      "name": "Code — Resolver subcarpeta (búsqueda)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "notesInFlow": true,
      "notes": "Si la búsqueda devolvió carpeta, guarda su id; si no, marca crear."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "need-create",
              "leftValue": "={{ $json.empleado_subfolder_id || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-crear-subcarpeta",
      "name": "IF — ¿Crear subcarpeta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "notesInFlow": true,
      "notes": "TRUE = aún no hay id (hay que crear). FALSE = ya existe; ir directo a aplicar id a todos los tickets."
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "create",
        "name": "={{ $json.drive_subfolder_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Variables — Config').first().json.drive_parent_folder_id }}"
        },
        "options": {}
      },
      "id": "drive-crear-subcarpeta",
      "name": "Drive — Crear subcarpeta empleado",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        460
      ],
      "notesInFlow": true,
      "notes": "Nombre exacto drive_subfolder_name (mismo criterio que la búsqueda)."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const created = $input.first().json;\nconst base = $('Code — Resolver subcarpeta (búsqueda)').first().json;\nconst id = created.id || created.folderId;\nif (!id) throw new Error('Drive no devolvió id de carpeta creada.');\nreturn [{ json: { ...base, empleado_subfolder_id: id, _subcarpeta: 'creada' } }];"
      },
      "id": "code-pack-tras-crear",
      "name": "Code — Pack ID tras crear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        460
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const resolved = $input.first().json;\nconst id = resolved.empleado_subfolder_id;\nif (!id) throw new Error('No se resolvió empleado_subfolder_id en Drive (buscar/crear).');\nconst all = $('Code — Expandir Tickets').all();\nreturn all.map((i) => ({\n  json: { ...i.json, empleado_subfolder_id: id },\n  binary: i.binary\n}));"
      },
      "id": "code-aplicar-subcarpeta-todos",
      "name": "Code — Aplicar subcarpeta a todos los tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        300
      ],
      "notesInFlow": true,
      "notes": "Replica el id de subcarpeta del empleado a cada ticket del batch (con binarios)."
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.folder_safe_name }}_{{ $json.id_rendicion }}.{{ $binary.ticket_foto.fileExtension || 'jpg' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.empleado_subfolder_id }}"
        },
        "inputDataFieldName": "ticket_foto",
        "options": {}
      },
      "id": "drive-upload-foto",
      "name": "Drive — Subir foto",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1520,
        200
      ],
      "notesInFlow": true,
      "notes": "Input Data Field Name = ticket_foto (mismo nombre que el binario del Code — Expandir / Aplicar subcarpeta). Drive v3 usa inputDataFieldName; el default data falla si el binario no se llama data."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const j = $input.item.json;\nconst audio = String(j.explicacion_audio_transcrita || '').trim();\nconst cat = String(j.ticket_categoria || '');\nconst motor = 'openai_vision';\nconst RULES = `Sos un asistente para rendiciones de gastos (Argentina). Vas a ver la IMAGEN del comprobante (OCR + interpretación).\n\nMontos (crítico en tickets térmicos / factura A o tique):\n- Los totales en ARS suelen ser grandes (5–7 dígitos enteros + centavos). Un error frecuente es \\\"perder\\\" un cero o un dígito en el TOTAL (ej. leer 11103,02 en vez de 111003,02).\n- Si el ticket muestra el total como 111003.02 sin separador de miles, el PUNTO son los DECIMALES: es 111.003,02 pesos, NO 11.100,302 ni 1.110.030,2.\n- Buscá la línea TOTAL / IMPORTE TOTAL y releé dígito por dígito. Si el mismo importe se repite (ej. junto a Tarjeta / MODO), usá ambas lecturas para validar.\n- Si hay desglose AFIP (Subtotal neto gravado + IVA + Impuestos internos / otros tributos), extraé esos tres importes y comprobá que sumen el TOTAL. Si el TOTAL impreso es dudoso pero la suma de líneas claras es coherente, asigná monto_total = esa suma.\n\nOtros:\n- Fecha y CUIT del proveedor si figuran.\n- No evalúes topes de empresa. Whisper solo para contradicciones obvias con el papel.\n- Compliance_Score 0–1 por legibilidad y coherencia interna del comprobante.`;\nconst ocr_compliance_prompt = `${RULES}\\n\\nMotor (referencia): ${motor}\\nCategoría declarada por el empleado: ${cat}\\nTranscripción voz (Whisper): ${audio || '(sin audio)'}\\n\\n--- Tarea ---\\nAnalizá la imagen del comprobante.\\n\\n--- Salida obligatoria ---\\nUn solo objeto JSON (sin markdown). Claves:\\n- monto_total (number|null) — total a pagar, número JS con punto decimal\\n- importe_neto_gravado (number|null) — si hay \\\"subtotal neto gravado\\\" o equivalente\\n- importe_iva (number|null) — si hay IVA discriminado\\n- importe_otros_tributos (number|null) — impuestos internos / otros tributos / similar\\n- moneda (string)\\n- fecha_factura (YYYY-MM-DD|null)\\n- CUIT_proveedor (solo dígitos o null)\\n- Compliance_Score (0-1)\\n- compliance_observaciones (breve; podés mencionar verificación suma vs TOTAL)\\n- violaciones (array de strings)\\n- parser_engine exactamente \\\"openai_vision\\\"\\nSi no hay desglose, los importe_* en null.`;\nreturn {\n  json: { ...j, ocr_compliance_prompt, parser_engine: motor },\n  binary: $input.item.binary || {}\n};"
      },
      "id": "code-prompt-ocr-compliance-vision",
      "name": "Code — Prompt OCR + Compliance (visión)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        480
      ],
      "notesInFlow": true,
      "notes": "Arma el prompt de texto; la imagen la envía el nodo OpenAI Analyze (binario ticket_foto)."
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "text": "={{ $json.ocr_compliance_prompt }}",
        "inputType": "base64",
        "binaryPropertyName": "ticket_foto",
        "simplify": true,
        "options": {
          "detail": "high",
          "maxTokens": 2500
        }
      },
      "id": "openai-vision-ocr-compliance",
      "name": "OpenAI — OCR + Compliance (visión)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1760,
        480
      ],
      "notesInFlow": true,
      "notes": "Misma credencial OpenAI que Whisper. Resource Image → Analyze; binario ticket_foto. Salida simplificada con content (JSON como texto)."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": false
        }
      },
      "id": "merge-drive-y-ocr",
      "name": "Merge — Drive + Compliance",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2440,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const idx = $itemIndex;\nconst base = $('Code — Expandir Tickets').all()[idx].json;\nconst driveJ = $('Drive — Subir foto').all()[idx]?.json || {};\nconst visionJ = $('OpenAI — OCR + Compliance (visión)').all()[idx]?.json || {};\n\nfunction coerceLlmText(m) {\n  if (m == null) return '';\n  if (typeof m === 'string') return m;\n  let t = m.content ?? m.text ?? m.output ?? m.response;\n  if (t && typeof t === 'object') {\n    t = t.text ?? t.output ?? t.message?.content ?? t.content ?? (Array.isArray(t.generations) ? String(t.generations[0]?.[0]?.text ?? '') : JSON.stringify(t));\n  }\n  return String(t ?? '');\n}\n\nfunction parseComplianceJson(raw) {\n  let s = String(raw || '').trim();\n  s = s.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  if (!s) return null;\n  try {\n    return JSON.parse(s);\n  } catch (e1) {\n    try {\n      const i = s.indexOf('{');\n      const j = s.lastIndexOf('}');\n      if (i >= 0 && j > i) return JSON.parse(s.slice(i, j + 1));\n    } catch (e2) {}\n  }\n  try {\n    const m = s.match(/\\{[\\s\\S]*\\}/);\n    if (m) return JSON.parse(m[0]);\n  } catch (e3) {}\n  return null;\n}\n\nfunction normalizeKeys(o) {\n  if (!o || typeof o !== 'object') return {};\n  const out = { ...o };\n  if (out.monto_total == null && out.montoTotal != null) out.monto_total = out.montoTotal;\n  if (out.fecha_factura == null && out.fechaFactura != null) out.fecha_factura = out.fechaFactura;\n  if (out.CUIT_proveedor == null && out.cuit_proveedor != null) out.CUIT_proveedor = out.cuit_proveedor;\n  if (out.Compliance_Score == null && out.compliance_score != null) out.Compliance_Score = out.compliance_score;\n  if (out.importe_neto_gravado == null) {\n    const x = out.subtotal_neto_gravado ?? out.subtotal_importe_neto_gravado ?? out.neto_gravado;\n    if (x != null) out.importe_neto_gravado = x;\n  }\n  if (out.importe_iva == null && out.iva != null) out.importe_iva = out.iva;\n  if (out.importe_otros_tributos == null) {\n    const x =\n      out.impuestos_internos ??\n      out.importe_impuestos_internos ??\n      out.importe_total_otros_tributos ??\n      out.otros_tributos;\n    if (x != null) out.importe_otros_tributos = x;\n  }\n  return out;\n}\n\nconst parsed = parseComplianceJson(coerceLlmText(visionJ));\nlet ocr = normalizeKeys(parsed) || {};\nocr = {\n  monto_total: null,\n  moneda: '',\n  fecha_factura: null,\n  CUIT_proveedor: null,\n  Compliance_Score: 0.5,\n  compliance_observaciones: '',\n  violaciones: [],\n  parser_engine: 'openai_vision',\n  ...ocr\n};\n\nconst pe = 'openai_vision';\n\nfunction normalizeAmount(v) {\n  if (v === null || v === undefined) return null;\n  if (typeof v === 'number') return Number.isFinite(v) ? v : null;\n\n  const s = String(v).trim();\n  if (!s) return null;\n\n  let cleaned = s.replace(/[^\\d,\\.\\-]/g, '');\n\n  if (cleaned.includes(',') && cleaned.includes('.')) {\n    cleaned = cleaned.replace(/\\./g, '').replace(',', '.');\n  } else if (cleaned.includes(',')) {\n    cleaned = cleaned.replace(',', '.');\n  }\n\n  const n = parseFloat(cleaned);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction pickMontoTotal(ocr) {\n  const direct = normalizeAmount(ocr.monto_total);\n  const a = normalizeAmount(ocr.importe_neto_gravado);\n  const b = normalizeAmount(ocr.importe_iva);\n  const c = normalizeAmount(ocr.importe_otros_tributos);\n  if (a != null && b != null && c != null && Number.isFinite(a) && Number.isFinite(b) && Number.isFinite(c)) {\n    const sum = Math.round((a + b + c) * 100) / 100;\n    if (!Number.isFinite(sum) || sum <= 0) return direct;\n    if (direct == null) return sum;\n    if (Math.abs(sum - direct) > 0.5) return sum;\n    return direct;\n  }\n  return direct;\n}\n\nfunction normalizeCuit(v) {\n  if (v === null || v === undefined) return '';\n  const s = String(v).replace(/[^\\d]/g, '');\n  return s || '';\n}\n\nlet score = Number(ocr.Compliance_Score);\nif (!Number.isFinite(score)) score = 0.5;\nscore = Math.round(Math.min(1, Math.max(0, score)) * 1000) / 1000;\n\nconst link = driveJ.webViewLink || driveJ.webContentLink || '';\nconst idFoto = driveJ.id || driveJ.fileId || '';\nconst montoDirect = normalizeAmount(ocr.monto_total);\nconst monto = pickMontoTotal(ocr);\nlet obsComb = String(ocr.compliance_observaciones || '').slice(0, 2000);\nif (\n  monto != null &&\n  montoDirect != null &&\n  Math.abs(monto - montoDirect) > 0.5\n) {\n  obsComb = (obsComb ? obsComb + ' ' : '') + 'Monto total corregido por suma (neto gravado + IVA + otros tributos): ' + montoDirect + ' → ' + monto + '.';\n  obsComb = obsComb.slice(0, 2000);\n}\n\nconst estado = score < 0.7 ? 'Requiere Revisión Manual' : 'Pendiente';\n\nreturn {\n  json: {\n    ...base,\n    id_foto_drive: idFoto,\n    link_foto_drive: link,\n    fecha_ticket_ia: ocr.fecha_factura || '',\n    monto_total_ia: monto === null ? '' : monto,\n    moneda_ia: ocr.moneda || '',\n    cuit_proveedor_ia: normalizeCuit(ocr.CUIT_proveedor),\n    Compliance_Score: score,\n    Estado: estado,\n    estado_compliance_obs: obsComb,\n    violaciones_compliance: Array.isArray(ocr.violaciones) ? ocr.violaciones.join('; ') : '',\n    parser_engine: pe\n  }\n};"
      },
      "id": "code-unir-fila-sheet",
      "name": "Code — Unir fila Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ],
      "notesInFlow": true,
      "notes": "Tras Merge: lee Drive y OpenAI visión. Si neto+IVA+otros tributos suman distinto al monto_total del modelo (>0,5), usa la suma (tickets AFIP / térmicos)."
    },
    {
      "parameters": {
        "color": 4,
        "content": "## Flujo lectura\\nOpenAI visión (gpt-4o) sobre la foto del comprobante: OCR + JSON de compliance en un nodo. Whisper alimenta el prompt si hubo audio.",
        "height": 200,
        "width": 380
      },
      "id": "sticky-nota-vector-store",
      "name": "Nota — Compliance en prompt",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2140,
        80
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Variables — Config').first().json.google_sheet_id }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Rendiciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_rendicion": "={{ $json.id_rendicion }}",
            "Fecha_Envio": "={{ $json.fecha_envio }}",
            "Empleado_Nombre": "={{ $json.emp_nombre }}",
            "Empleado_Legajo": "={{ $json.emp_legajo }}",
            "Motivo_Rendicion": "={{ $json.motivo_rendicion }}",
            "Categoria_Factura": "={{ $json.ticket_categoria }}",
            "Observacion_Factura": "={{ $json.ticket_obs }}",
            "Comprobante_URL": "={{ $json.link_foto_drive }}",
            "Fecha_Factura_IA": "={{ $json.fecha_ticket_ia }}",
            "Monto_Factura_IA": "={{ $json.monto_total_ia }}",
            "Moneda_Factura_IA": "={{ $json.moneda_ia }}",
            "CUIT_Proveedor_IA": "={{ $json.cuit_proveedor_ia }}",
            "Compliance_Score": "={{ $json.Compliance_Score }}",
            "Comentario_Voz": "={{ $json.explicacion_audio_transcrita }}",
            "Motor_Parseo": "={{ $json.parser_engine }}",
            "Observaciones_Compliance": "={{ $json.estado_compliance_obs }}",
            "Estado": "={{ $json.Estado }}",
            "Fecha_Resolucion": ""
          }
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Sheets — Append Rendiciones",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2240,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const all = $input.all();\nconst j0 = all[0].json;\nconst ids = all.map(i => i.json.id_rendicion);\nconst monto_total = all.map(i => {\n  const r = i.json;\n  const parts = [r.monto_total_ia, r.moneda_ia].filter((v) => v !== null && v !== undefined && v !== '');\n  return parts.join(' ').trim();\n}).filter(Boolean).join(' · ') || '';\nconst link_foto_drive = j0.link_foto_drive || (all[0] && all[0].json.link_foto_drive) || '';\nconst scoreNums = all.map((i) => Number(i.json.Compliance_Score)).filter((n) => Number.isFinite(n));\nconst batch_compliance_avg = scoreNums.length ? Math.round((scoreNums.reduce((a, b) => a + b, 0) / scoreNums.length) * 1000) / 1000 : '';\nconst batch_parser_engines = [...new Set(all.map((i) => String(i.json.parser_engine || '').trim()).filter(Boolean))].join('+') || '';\nfunction ensureWebhookSuffix(resumeUrl, suffix) {\n  if (!resumeUrl || !suffix) return resumeUrl;\n  const s = String(suffix).replace(/^\\/+|\\/+$/g, '');\n  if (resumeUrl.includes('/' + s + '?') || resumeUrl.includes('/' + s + '&') || resumeUrl.endsWith('/' + s)) return resumeUrl;\n  const q = resumeUrl.indexOf('?');\n  if (q === -1) return resumeUrl + '/' + s;\n  return resumeUrl.slice(0, q) + '/' + s + resumeUrl.slice(q);\n}\nfunction appendDecision(resumeUrl, decision) {\n  if (!resumeUrl) return '';\n  const sep = resumeUrl.includes('?') ? '&' : '?';\n  return resumeUrl + sep + 'decision=' + encodeURIComponent(decision);\n}\nconst cfg = $('Variables — Config').first().json || {};\nconst waitSuffix = cfg.wait_webhook_suffix || 'aprobacion-gerente';\nconst ru = ensureWebhookSuffix($execution.resumeUrl || '', waitSuffix);\nreturn [{\n  json: {\n    batch_id: j0.batch_id,\n    id_rendiciones: ids,\n    emp_nombre: j0.emp_nombre,\n    emp_legajo: j0.emp_legajo,\n    motivo_rendicion: j0.motivo_rendicion,\n    fecha_envio: j0.fecha_envio,\n    resumen_html: all.map(i => {\n      const r = i.json;\n      return `<li><strong>${r.ticket_categoria || ''}</strong> — ${r.monto_total_ia ?? ''} ${r.moneda_ia || ''} — <a href=\"${r.link_foto_drive || ''}\" target=\"_blank\">Foto Drive</a></li>`;\n    }).join(''),\n    link_primera_foto: link_foto_drive,\n    link_foto_drive,\n    monto_total,\n    fecha_ticket_ia: j0.fecha_ticket_ia || '',\n    cuit_proveedor_ia: j0.cuit_proveedor_ia || '',\n    repo: 'https://github.com/jugauna/rendicion_de_gastos.git',\n    resume_url_aprobar: appendDecision(ru, 'aprobar'),\n    resume_url_rechazar: appendDecision(ru, 'rechazar'),\n    compliance_score: j0.Compliance_Score ?? '',\n    estado_compliance: j0.Estado || '',\n    batch_compliance_avg,\n    batch_parser_engines\n  }\n}];"
      },
      "id": "code-aggregate-batch",
      "name": "Code — Batch email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        300
      ]
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {
          "webhookSuffix": "aprobacion-gerente"
        }
      },
      "id": "wait-aprobacion",
      "name": "Wait — Webhook aprobación",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2720,
        300
      ],
      "webhookId": "wait-aprobacion-gerente",
      "notesInFlow": true,
      "notes": "Respond: Using Respond to Webhook — el gerente recibe HTML de confirmación (aprobar/rechazar) al abrir el enlace del mail."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first();\nconst w = item.json || {};\nconst q = w.query || w.params || {};\nlet raw = q.decision ?? q.Decision;\nif (raw == null && w.body && typeof w.body === 'object' && !Array.isArray(w.body)) raw = w.body.decision ?? w.body.Decision;\nif (raw == null && typeof w.body === 'string') {\n  try {\n    const b = JSON.parse(w.body);\n    raw = b?.decision ?? b?.Decision;\n  } catch (e) {}\n}\nif (raw == null) raw = w.decision ?? w.Decision;\nif (Array.isArray(raw)) raw = raw[raw.length - 1];\nconst d = String(raw ?? '').trim().toLowerCase();\nconst aprobada = raw === true || d === 'aprobar' || d === 'approve' || d === 'si' || d === 'sí' || d === 'yes';\nconst titulo = aprobada ? 'Aprobaste la rendición' : 'Rechazaste la rendición';\nconst color = aprobada ? '#16a34a' : '#dc2626';\nconst esc = (s) => String(s == null ? '' : s).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/\"/g, '&quot;');\nlet b = {};\ntry {\n  b = $('Code — Batch email').first().json || {};\n} catch (e) {}\nconst sub = esc(b.batch_id || '');\nconst nombre = esc(b.emp_nombre || '');\nconst legajo = esc(b.emp_legajo || '');\nconst html =\n  '<!DOCTYPE html>\\n' +\n  '<html lang=\"es\">\\n' +\n  '<head><meta charset=\"UTF-8\" /><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" /><title>Resolución registrada</title></head>\\n' +\n  '<body style=\"margin:0;font-family:system-ui,-apple-system,Segoe UI,Roboto,sans-serif;background:#f8fafc;color:#1e293b;\">\\n' +\n  '  <div style=\"max-width:520px;margin:48px auto;padding:32px 24px;background:#fff;border-radius:12px;box-shadow:0 1px 3px rgba(0,0,0,.08);text-align:center;\">\\n' +\n  '    <h1 style=\"margin:0 0 16px;font-size:1.35rem;color:' +\n  color +\n  ';\">' +\n  titulo +\n  '</h1>\\n' +\n  '    <p style=\"margin:0 0 10px;font-size:1rem;line-height:1.55;\">Tu decisión quedó <strong>registrada</strong>.</p>\\n' +\n  '    <p style=\"margin:0 0 24px;font-size:.95rem;color:#475569;line-height:1.6;\">El flujo <strong>continúa</strong>: se actualizará la planilla, se notificará al área contable cuando corresponda y el lote seguirá su curso en el sistema.</p>\\n' +\n  (nombre\n    ? '<p style=\"margin:0;font-size:.875rem;color:#64748b;\">Empleado: ' + nombre + (legajo ? ' · Legajo ' + legajo : '') + '</p>\\n'\n    : '') +\n  (sub ? '<p style=\"margin:14px 0 0;font-size:.8rem;color:#94a3b8;\">Lote: ' + sub + '</p>\\n' : '') +\n  '  </div>\\n' +\n  '</body>\\n' +\n  '</html>';\nreturn [{ json: { ...w, _gerente_landing_html: html } }];"
      },
      "id": "code-gerente-landing-html",
      "name": "Code — Página confirmación gerente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        300
      ],
      "notesInFlow": true,
      "notes": "Arma HTML según ?decision= (misma lógica que IF Aprobada). Datos del lote desde Code — Batch email."
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json._gerente_landing_html }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-gerente-html",
      "name": "Respond — Gerente confirmación (HTML)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3000,
        300
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "={{ $('Variables — Config').first().json.email_from }}",
        "toEmail": "={{ $('Variables — Config').first().json.email_gerente }}",
        "subject": "={{ 'Rendición de gastos — Aprobación (' + ($('Code — Batch email').first().json.emp_legajo || '') + ')' }}",
        "emailFormat": "html",
        "html": "={{ (() => {\n  const b = $('Code — Batch email').first().json || {};\n  const e = (v) => String(v == null ? '' : v).replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/\"/g,'&quot;');\n  return '<!DOCTYPE html>\\n' +\n'<html lang=\"es\">\\n' +\n'<head>\\n<meta charset=\"UTF-8\" />\\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\\n<title>Aprobación de gasto</title>\\n</head>\\n' +\n'<body style=\"margin:0;padding:0;background-color:#ffffff;-webkit-font-smoothing:antialiased;\">\\n' +\n'<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color:#ffffff;\">\\n  <tr>\\n    <td align=\"center\" style=\"padding:24px 16px 32px 16px;\">\\n      <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:600px;width:100%;\">\\n\\n\\n          <tr>\\n            <td align=\"center\" style=\"background-color:#009CDE;border-radius:12px 12px 0 0;padding:28px 24px;\">\\n              <img src=\"https://TU-DOMINIO-PUBLICO/image_5.png\" width=\"180\" height=\"auto\" alt=\"Logo\" style=\"display:block;margin:0 auto;max-width:220px;height:auto;border:0;outline:none;text-decoration:none;\" />\\n            </td>\\n          </tr>\\n          <tr>\\n            <td style=\"height:4px;background-color:#009CDE;line-height:4px;font-size:0;\">&nbsp;</td>\\n          </tr>\\n\\n          <tr>\\n            <td style=\"background-color:#ffffff;border:1px solid #e2e8f0;border-top:none;border-radius:0 0 12px 12px;padding:28px 24px 8px 24px;\">\\n              <h1 style=\"margin:0 0 8px 0;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:20px;line-height:1.35;font-weight:700;color:#1A202C;\">\\n                Aprobación de Gasto: ' + e(b.emp_nombre) + ' (' + e(b.emp_legajo) + ')\\n              </h1>\\n              <p style=\"margin:0 0 24px 0;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.5;color:#4a5568;\">\\n                Revisá el detalle y decidí la rendición desde los botones al final del mensaje.\\n              </p>\\n\\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"border-collapse:separate;border-spacing:0;border:1px solid #e2e8f0;border-radius:12px;overflow:hidden;\">\\n                <tr>\\n                  <td colspan=\"2\" style=\"background-color:#f8fafc;padding:12px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:11px;font-weight:700;letter-spacing:0.06em;text-transform:uppercase;color:#009CDE;border-bottom:1px solid #e2e8f0;\">\\n                    Resumen\\n                  </td>\\n                </tr>\\n                <tr>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:#64748b;width:42%;border-bottom:1px solid #e2e8f0;vertical-align:top;\">Gasto</td>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:500;color:#1A202C;border-bottom:1px solid #e2e8f0;vertical-align:top;\">' + e(b.motivo_rendicion) + '</td>\\n                </tr>\\n                <tr>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:#64748b;border-bottom:1px solid #e2e8f0;vertical-align:top;\">Monto Sugerido (IA)</td>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:600;color:#1A202C;border-bottom:1px solid #e2e8f0;vertical-align:top;\">' + e(b.monto_total) + '</td>\\n                </tr>\\n                <tr>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:#64748b;border-bottom:1px solid #e2e8f0;vertical-align:top;\">Fecha Ticket (IA)</td>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:500;color:#1A202C;border-bottom:1px solid #e2e8f0;vertical-align:top;\">' + e(b.fecha_ticket_ia) + '</td>\\n                </tr>\\n                <tr>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;font-weight:600;color:#64748b;vertical-align:top;\">CUIT Proveedor (IA)</td>\\n                  <td style=\"padding:14px 16px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:14px;font-weight:500;color:#1A202C;vertical-align:top;\">' + e(b.cuit_proveedor_ia) + '</td>\\n                </tr>\\n              </table>\\n\\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"margin-top:28px;\">\\n                <tr>\\n                  <td align=\"center\">\\n                    <a href=\"' + encodeURI(String(b.link_foto_drive || '')) + '\" target=\"_blank\" rel=\"noopener noreferrer\" style=\"display:inline-block;padding:14px 28px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:700;line-height:1.25;color:#ffffff;text-decoration:none;background-color:#009CDE;border-radius:10px;min-width:200px;text-align:center;\">\\n                      Ver Comprobante Original\\n                    </a>\\n                  </td>\\n                </tr>\\n              </table>\\n\\n              <p style=\"margin:28px 0 8px 0;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;color:#64748b;text-align:center;\">\\n                Resolución de la solicitud\\n              </p>\\n\\n              <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"margin-top:8px;\">\\n                <tr>\\n                  <td align=\"center\" style=\"padding:8px 0;\">\\n                    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width:520px;\">\\n                      <tr>\\n                        <td align=\"center\" style=\"padding:8px 6px;\" width=\"50%\">\\n                          <a href=\"' + encodeURI(String(b.resume_url_aprobar || '')) + '\" style=\"display:block;padding:16px 12px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:700;line-height:1.25;color:#ffffff;text-decoration:none;background-color:#16a34a;border-radius:10px;text-align:center;\">\\n                            Aprobar\\n                          </a>\\n                        </td>\\n                        <td align=\"center\" style=\"padding:8px 6px;\" width=\"50%\">\\n                          <a href=\"' + encodeURI(String(b.resume_url_rechazar || '')) + '\" style=\"display:block;padding:16px 12px;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:15px;font-weight:700;line-height:1.25;color:#ffffff;text-decoration:none;background-color:#dc2626;border-radius:10px;text-align:center;\">\\n                            Rechazar\\n                          </a>\\n                        </td>\\n                      </tr>\\n                    </table>\\n                  </td>\\n                </tr>\\n              </table>\\n\\n              <p style=\"margin:24px 0 0 0;font-family:\\'Inter\\',-apple-system,BlinkMacSystemFont,\\'Segoe UI\\',Roboto,Helvetica,Arial,sans-serif;font-size:11px;line-height:1.5;color:#a0aec0;text-align:center;\">\\n                Si el botón no funciona, copiá y pegá el enlace en el navegador. Este mensaje es transaccional; no respondas a este correo si fue enviado desde un buzón no monitoreado.\\n              </p>\\n            </td>\\n          </tr>\\n        </table>\\n      </td>\\n    </tr>\\n  </table>\\n</body>\\n</html>\\n';\n})() }}",
        "options": {}
      },
      "id": "email-gerente",
      "name": "Email — Gerente (HTML)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2960,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "dec-aprob",
              "leftValue": "={{ (() => { const w = $json || {}; const q = w.query || w.params || {}; let r = q.decision ?? q.Decision; if (r == null && w.body && typeof w.body === 'object') r = w.body.decision; if (r == null) r = w.decision; return String(r ?? '').trim().toLowerCase(); })() }}",
              "rightValue": "aprobar",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-decision-aprobada",
      "name": "IF Aprobada",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const prev = $('Code — Batch email').first().json;\nconst ids = prev.id_rendiciones || [];\nconst w = $input.first().json || {};\nconst q = w.query || w.params || {};\nlet raw = q.decision ?? q.Decision;\nif (raw == null && w.body && typeof w.body === 'object' && !Array.isArray(w.body)) raw = w.body.decision ?? w.body.Decision;\nif (raw == null && typeof w.body === 'string') {\n  try { const b = JSON.parse(w.body); raw = b?.decision ?? b?.Decision; } catch (e) {}\n}\nif (raw == null) raw = w.decision ?? w.Decision;\nif (Array.isArray(raw)) raw = raw[raw.length - 1];\nconst d = String(raw ?? '').trim().toLowerCase();\nconst aprobada = raw === true || d === 'aprobar' || d === 'approve' || d === 'si' || d === 'sí' || d === 'yes';\nconst estado = aprobada ? 'Aprobada' : 'Rechazada';\nconst fecha = new Date().toISOString();\nreturn ids.map((id) => ({ json: { id_rendicion: id, Estado: estado, Fecha_Resolucion: fecha } }));"
      },
      "id": "code-split-updates",
      "name": "Code — Filas a actualizar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Variables — Config').first().json.google_sheet_id }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Rendiciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id_rendicion"
          ],
          "value": {
            "id_rendicion": "={{ $json.id_rendicion }}",
            "Estado": "={{ $json.Estado }}",
            "Fecha_Resolucion": "={{ $json.Fecha_Resolucion }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "sheets-update-estado",
      "name": "Sheets — Update por id_rendicion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "alwaysOutputData": true,
      "position": [
        3680,
        300
      ],
      "notesInFlow": true,
      "notes": "Update por fila: id_rendicion. alwaysOutputData: el nodo siguiente (mail contable) corre aunque Sheets devuelva 0 ítems (evita perder el correo al rechazar)."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const fila = $('Code — Filas a actualizar').first();\nconst estado = (fila && fila.json && fila.json.Estado) ? String(fila.json.Estado) : '';\nreturn [{ json: { _notificar_contable: true, estado_resolucion: estado } }];"
      },
      "id": "code-solo-si-aprobada",
      "name": "Code — Notificar contable",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3920,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "notif",
              "leftValue": "={{ $json._notificar_contable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-notificar-contable",
      "name": "IF — Notificar contable",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4160,
        300
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "send",
        "fromEmail": "={{ $('Variables — Config').first().json.email_from }}",
        "toEmail": "={{ $('Variables — Config').first().json.email_jefe_contable }}",
        "subject": "={{ 'Rendición ' + ($('Code — Notificar contable').first().json.estado_resolucion || $('Code — Filas a actualizar').first().json.Estado || '') + ' — ' + ($('Code — Batch email').first().json.emp_legajo || '') }}",
        "emailFormat": "html",
        "html": "={{ (() => {\n  const est = String($('Code — Notificar contable').first().json.estado_resolucion || $('Code — Filas a actualizar').first().json.Estado || '');\n  const b = $('Code — Batch email').first().json || {};\n  const legajo = b.emp_legajo || '';\n  const nombre = b.emp_nombre || '';\n  const motivo = b.motivo_rendicion || '';\n  const ids = (b.id_rendiciones || []).join(', ');\n  const batch = b.batch_id || '';\n  let adj = 'resuelta';\n  if (est === 'Aprobada') adj = '<strong style=\"color:#16a34a\">aprobada</strong>';\n  else if (est === 'Rechazada') adj = '<strong style=\"color:#dc2626\">rechazada</strong>';\n  else adj = '<strong>' + est + '</strong>';\n  return '<p>El gerente indicó que la rendición fue ' + adj + '.</p>' +\n    '<p><strong>Empleado:</strong> ' + nombre + ' (' + legajo + ')<br/>' +\n    '<strong>Motivo:</strong> ' + motivo + '</p>' +\n    '<p><strong>Batch:</strong> ' + batch + '</p>' +\n    '<p><strong>IDs:</strong> ' + ids + '</p>' +\n    '<p>Repo: https://github.com/jugauna/rendicion_de_gastos.git</p>';\n})() }}",
        "options": {}
      },
      "id": "email-contable",
      "name": "Email — Jefe Contable",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3900,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const fila = $('Code — Filas a actualizar').first()?.json || {};\nconst batch = $('Code — Batch email').first()?.json || {};\nconst estado = String(fila.Estado || $('Code — Notificar contable').first()?.json?.estado_resolucion || '');\nconst ids = Array.isArray(batch.id_rendiciones) ? batch.id_rendiciones.join(', ') : String(fila.id_rendicion || '');\nconst detail = ['estado=' + estado, batch.batch_id ? 'batch=' + batch.batch_id : '', ids ? 'ids=' + ids : '', batch.batch_compliance_avg !== '' && batch.batch_compliance_avg != null ? 'avgCompliance=' + batch.batch_compliance_avg : '', batch.batch_parser_engines ? 'parsers=' + batch.batch_parser_engines : ''].filter(Boolean).join(' | ');\nreturn [{\n  json: {\n    Timestamp: new Date().toISOString(),\n    Outcome: 'OK',\n    Workflow_Name: String($workflow.name || ''),\n    Execution_Id: String($execution.id || ''),\n    Last_Node: 'Fin aprobación gerente → contable',\n    Detail: detail.slice(0, 2000),\n    Compliance_Score_Batch: String(batch.batch_compliance_avg ?? ''),\n    Parser_Engine_Summary: String(batch.batch_parser_engines ?? ''),\n    Error_Message: '',\n    Error_Stack: '',\n    Execution_Url: String($execution.resumeUrl || '')\n  }\n}];"
      },
      "id": "code-audit-log-ok",
      "name": "Code — Audit log OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        240
      ],
      "notesInFlow": true,
      "notes": "Append a Audit_Logs con Outcome=OK al cerrar el ciclo gerente (misma fila de columnas que el workflow de errores)."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1u30U7L8RzrAuj2F9Y9NYe3ke75DdFNtKp7N_gy44e2Y"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Audit_Logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.Timestamp }}",
            "Outcome": "={{ $json.Outcome }}",
            "Workflow_Name": "={{ $json.Workflow_Name }}",
            "Execution_Id": "={{ $json.Execution_Id }}",
            "Last_Node": "={{ $json.Last_Node }}",
            "Detail": "={{ $json.Detail }}",
            "Compliance_Score_Batch": "={{ $json.Compliance_Score_Batch }}",
            "Parser_Engine_Summary": "={{ $json.Parser_Engine_Summary }}",
            "Error_Message": "={{ $json.Error_Message }}",
            "Error_Stack": "={{ $json.Error_Stack }}",
            "Execution_Url": "={{ $json.Execution_Url }}"
          }
        },
        "options": {}
      },
      "id": "sheets-append-audit-ok",
      "name": "Sheets — Append Audit_Logs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4680,
        240
      ],
      "notesInFlow": true,
      "notes": "Mismo spreadsheet que Variables — Config (google_sheet_id). Encabezados idénticos al workflow Audit — Error logs."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: $json.ok, batch_id: $json.batch_id, repo: $json.repo, mensaje: $json.mensaje }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-200-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2240,
        80
      ]
    }
  ],
  "connections": {
    "Webhook Inicial": {
      "main": [
        [
          {
            "node": "Variables — Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables — Config": {
      "main": [
        [
          {
            "node": "IF — ¿Audio explicación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — ¿Audio explicación?": {
      "main": [
        [
          {
            "node": "OpenAI — Whisper (transcribe)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Sin audio (passthrough)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Whisper (transcribe)": {
      "main": [
        [
          {
            "node": "Code — Merge transcripción en body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Merge transcripción en body": {
      "main": [
        [
          {
            "node": "IF Secret Válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Sin audio (passthrough)": {
      "main": [
        [
          {
            "node": "IF Secret Válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Secret Válido": {
      "main": [
        [
          {
            "node": "Code — Expandir Tickets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Expandir Tickets": {
      "main": [
        [
          {
            "node": "Code — Primer ítem (Drive)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code — Respuesta HTTP inmediata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Respuesta HTTP inmediata": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Primer ítem (Drive)": {
      "main": [
        [
          {
            "node": "Drive — Buscar subcarpeta empleado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — Buscar subcarpeta empleado": {
      "main": [
        [
          {
            "node": "Code — Resolver subcarpeta (búsqueda)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Resolver subcarpeta (búsqueda)": {
      "main": [
        [
          {
            "node": "IF — ¿Crear subcarpeta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — ¿Crear subcarpeta?": {
      "main": [
        [
          {
            "node": "Drive — Crear subcarpeta empleado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Aplicar subcarpeta a todos los tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive — Crear subcarpeta empleado": {
      "main": [
        [
          {
            "node": "Code — Pack ID tras crear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Pack ID tras crear": {
      "main": [
        [
          {
            "node": "Code — Aplicar subcarpeta a todos los tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Aplicar subcarpeta a todos los tickets": {
      "main": [
        [
          {
            "node": "Drive — Subir foto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code — Prompt OCR + Compliance (visión)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Prompt OCR + Compliance (visión)": {
      "main": [
        [
          {
            "node": "OpenAI — OCR + Compliance (visión)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — OCR + Compliance (visión)": {
      "main": [
        [
          {
            "node": "Merge — Drive + Compliance",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Drive — Subir foto": {
      "main": [
        [
          {
            "node": "Merge — Drive + Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge — Drive + Compliance": {
      "main": [
        [
          {
            "node": "Code — Unir fila Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Unir fila Sheet": {
      "main": [
        [
          {
            "node": "Sheets — Append Rendiciones",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code — Batch email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Append Rendiciones": {
      "main": [
        []
      ]
    },
    "Code — Batch email": {
      "main": [
        [
          {
            "node": "Email — Gerente (HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait — Webhook aprobación": {
      "main": [
        [
          {
            "node": "Code — Página confirmación gerente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Página confirmación gerente": {
      "main": [
        [
          {
            "node": "Respond — Gerente confirmación (HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond — Gerente confirmación (HTML)": {
      "main": [
        [
          {
            "node": "IF Aprobada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email — Gerente (HTML)": {
      "main": [
        [
          {
            "node": "Wait — Webhook aprobación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Aprobada": {
      "main": [
        [
          {
            "node": "Code — Filas a actualizar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Filas a actualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Filas a actualizar": {
      "main": [
        [
          {
            "node": "Sheets — Update por id_rendicion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Update por id_rendicion": {
      "main": [
        [
          {
            "node": "Code — Notificar contable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Notificar contable": {
      "main": [
        [
          {
            "node": "IF — Notificar contable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Notificar contable": {
      "main": [
        [
          {
            "node": "Email — Jefe Contable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code — Audit log OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email — Jefe Contable": {
      "main": [
        [
          {
            "node": "Code — Audit log OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Audit log OK": {
      "main": [
        [
          {
            "node": "Sheets — Append Audit_Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
